# Execution Environment
APP_ENV=development

# Google Cloud Storage (Set to dummy if not in use during dev)
GCS_BUCKET=your-bucket-name
# For dev, local path inside container (mapped via compose)
FS_DATA_PATH=/data

# Execution Config
EXEC_PORT=8080
