# Execution Environment
APP_ENV=production

# Google Cloud Storage
GCS_BUCKET=prod-bucket-name

# Google Cloud Credentials (GCP SDK in Docker will look for these or use metadata)
# GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json

# Execution Config
EXEC_PORT=8080
